PUBLIC_BASE_URL=https://api.jonoconsultancy.com
PUBLIC_SITE_URL=https://jonoconsultancy.com
ADMIN_BASE_URL=https://api.jonoconsultancy.com
ADMIN_PORTAL_URL=https://admin.jonoconsultancy.com
ADMIN_USER=
ADMIN_PASS=
PUBLIC_API_TOKEN=
SECURITY_TEST_BASE_URL=
ALLOW_READONLY_SECURITY_PROBES=false
ALLOW_PRODUCTION_SECURITY_PROBES=false